In [18]:
from astroquery.astroquery.simbad import Simbad
from astroquery.astroquery.vizier import Vizier
from datascience import *
import numpy as np
bd = Table()
bd = Table().read_table('/Users/emilyma/Desktop/AstroResearch/candidates.csv')
bd
cruz = Table().read_table('/Users/emilyma/Desktop/AstroResearch/cruz.csv')
cruz.num_rows

16

In [19]:
def addRA():
    for i in range(bd.num_rows):
        this_row = bd.take(i)
        if this_row.column("RAJ2000")[0] == 'nan':
            ra = Simbad.query_object(this_row["Name"][0])
            ra = ra["RA"]
            if ra[0][0] == '+':
                bd[1][i] = ra[0][1:]
            else:
                bd[1][i] = ra[0]
            
def addDEC():
    for i in range(bd.num_rows):
        this_row = bd.take(i)
        if this_row.column("DEJ2000")[0] == 'nan':
            dec = Simbad.query_object(this_row["Name"][0])
            dec = dec["DEC"]
            if dec[0][0] == '+':
                bd[2][i] = dec[0][1:]
            else:
                bd[2][i] = dec[0]
addRA()
addDEC()

In [20]:
object = Table()
object = Simbad.query_object('2MASS J05012406-0010452')
object
bd.take(1)["Name"].dtype
bd.take(1)["Notes"].dtype
bd.to_df().to_csv('bdcandidates.csv', index = False)

In [4]:
def joinCruz():
    for i in range(cruz.num_rows):
        this_row = cruz.take(i)
        if bd.where("Name", are.equal_to(this_row["Name"][0])).num_rows == 1: #contains the object
            index = bd.where("Name", are.equal_to(this_row["Name"][0]))["Index"][0]
            print(index + 100)
            if bd["Notes"][index] == "nan":
                bd["Notes"][index] = cruz["Notes"][i]
            else:                    
                bd["Notes"][index] += cruz["Notes"][i]
                print("hi")
        else: #does not contain object
            bd.append(this_row)

In [6]:
joinCruz()
bd.take(58)
bd.take(11)
bd.take(39)
bd.take(41)
temp = bd["Notes"][38][:]
bd["Notes"][38] = bd["Notes"][58]
bd["Notes"][38] += temp
bd["Notes"][38] = "Intermediate gravity Cruz 2009;Significant"
test = make_array("Notes","Intermediate gravity Cruz 2009;Significant", str)
bd["Notes"][38] = test[0]
# bd.take(39)["Notes"] = test
# test
#formats.Formatter(4, 300)
bd["Notes"][38] = test[1]
bd["Notes"][38]

111
139
hi
141
hi

'Intermediate gravity Cruz 2009;Signif'

In [7]:
addRA()
addDEC()
print(bd.take(39)["Notes"][0])
bd["Notes"][39]
index = int(bd.take(29)["Index"][0])

Significant variability Vos 2018;

In [23]:
def convert_ra_degrees():
    for i in range(bd.num_rows):
        this_row = bd.take(i)
        if bd[1][i][0] == '-':
            print("hi")
        else:
            if bd[1][i][0] == 0:
                h = bd[1][i][1]
            else:
                h = bd[1][i][:2]
            if bd[1][i][3] == 0:
                m = bd[1][i][4]
            else:
                m = bd[1][i][3:5]
            if bd[1][i][6] == 0:
                s = bd[1][i][7:]
            else:
                s = bd[1][i][6:]
            sum = (int(h) * 15) + (int(m) / 4) + (float(s) / 240)
            print(sum)
            
def convert_dec_degrees():
    for i in range(bd.num_rows):
        this_row = bd.take(i)
        if bd[2][i][0] == '-':
            print("negative")
            print(i)
        else:
            if bd[2][i][0] == 0:
                h = bd[2][i][1]
            else:
                h = bd[2][i][:2]
            if bd[2][i][3] == 0:
                m = bd[2][i][4]
            else:
                m = bd[2][i][3:5]
            if bd[2][i][6] == 0:
                s = bd[2][i][7:]
            else:
                s = bd[2][i][6:]
            sum = (int(h) * 15) + (int(m) / 4) + (float(s) / 240)
            print(sum)

In [24]:
# convert_ra_degrees()
convert_dec_degrees()

275.29333333333335
143.44720833333332
240.77333333333334
negative
3
negative
4
587.7466666666667
479.36083333333335
negative
7
negative
8
negative
9
negative
10
876.43875
negative
12
17.991666666666667
44.3325
288.1475
248.29791666666668
292.3125
381.33166666666665
200.275
negative
20
negative
21
negative
22
negative
23
506.070513001375
410.34708333333333
753.8816666666667
213.50352820792082
602.7783333333333
negative
29
negative
30
negative
31
491.85231
negative
33
negative
34
53.898645
negative
36
35.09457
negative
38
248.68623
negative
40
negative
41
negative
42
negative
43
negative
44
31.180425
negative
46
negative
47
negative
48
negative
49
negative
50
negative
51
negative
52
negative
53
negative
54
negative
55
447.2024
755.7477
173.43248333333332

In [25]:
bd[2][4][0]
bd[2][54][0]

'-'

In [139]:
test = make_array("Intermediate gravity Cruz 2009;Significant", str)
test[0]

'Intermediate gravity Cruz 2009;Significant'

In [163]:
bd.to_df().to_csv('candidates1.csv', index = False)

In [7]:
bd.select("Name")

Name
2MASS J00361617+1821104
SIMP J013656.5+093347.3
2MASS J03140344+1603056
2MASS J05233822-1403022
2MASS J05591914-1404488
2MASS J06023045+3910592
2MASS J07003664+3157266
2MASS J08283419-1309198
2MASS J08354256-0819237
USNO-B1.0 0830-00245706
... (49 rows omitted)